/******************************************FONTS START***************************************/
@font-face {
	font-family: 'HelveticaBold';
	src: url('Helvetica/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'HelveticaRegular';
	src: url('Helvetica/OpenSans-Regular.ttf');	
}
/******************************************FONTS FINISH**************************************/

/******************************************STATICS STYLE START*******************************/
*{outline: none;}
body{font-family: Sans-Serif; color: white;margin:0px;padding:0px}
label{margin:0px;cursor:pointer}
a{outline:none;text-decoration: none;color:inherit}
a:hover{outline:none;text-decoration:none;color:inherit;background-color: transparent}
a:focus{outline: none;text-decoration: none;color:inherit}
p{margin:0px}
ul{list-style-type:none;margin:0px;padding:0px}
.clear:after{content:"";display:block;clear:both}
.nopad{padding:0px}
.nopadleft{padding-left:0px}
.nopadright{padding-right:0px}
.content{width: 1200px;position: relative;margin: 0px auto;padding: 0 15px; box-sizing: border-box}
.bor{border:1px dotted green}
button {cursor: pointer;}
/******************************************STATICS STYLE FINISH******************************/

/******************************************STARTING STYLE :)*********************************/
.red-bg {
    background-color: #ed3237 !important; /*pink-red*/
}

.btn-style {
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}
/*....................header's styles....................*/
header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 0 0 0;
    z-index: 10;
}

header a:hover,
header a:active {
    color: white;
}

#header-block {
    display: flex;
    justify-content: space-around;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-link {
    font-size: 15px;
    font-weight: 900;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.logo-block {
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
}

#contact-info-block {
    display: flex;
    align-self: flex-end;
}

.phone-number-block {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.phone-number-icon {
    display: inline-block;
    height: 16px;
    margin-right: 10px;
}

.media-block {
    margin-right: 10px;
}

.media-link {
    padding-right: 2px;
}

.media-link:last-child {
    padding-right: 0;
}

.other-features {
    display: flex;
    align-items: center;
}

.other-features-link {
    margin-right: 4px;
}

.other-features-link:last-child {
    margin-right: 0;
}
/*....................the end of header's styles....................*/


/*....................search field....................*/

#search-field-container {
    position: relative;
    background-image: url('../../assets/img/island.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 446px;
}

#search-field-container:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2f2f2f91;
}

#tour-sercher {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.tour-info-link {
    height: inherit;
    display: inline-block;
    cursor: pointer;
}

.absolute-tour-info-link {
    position: absolute;
    z-index: 10;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px;
    font-style: italic;
    width: 240px;
    background-color: #6B7984ad; /*grey*/
    padding: 15px;
}

.search-inputs {
    width: 100px;
    height: 12px;
    font-style: italic;
    padding: 7px;
}
.search-input-group:nth-child(odd)>.search-inputs {
    margin-right: 3px;
}

.search-input-label {
    position: absolute;
    top: 2px;
    left: 12px;
    font-size: 12px;
}

.search-input-group {
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
}

#_search-submit {
    width: 118px;
    height: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #ed3237; /*pink-red*/
    border: none;
    font-style: italic;
    color: white;
}

#main-title {
    font-size: 45px;
    float: right;
    align-self: center;
    margin-top: 90px;
    text-align: end;
}
/*....................the end of search field....................*/

/*....................popular tours....................*/
#popular-tours-container {
    margin: 28px 0;
}

#popular-tours {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tour-item {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 24%;
    height: 269px;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.tour-item:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2f2f2f91;
}

.tour-item:nth-child(4n+4).tour-item-with-title-block {
    margin-right: 0;
}

.tour-title-block.tour-item:before {
    background-color: transparent;
}

.tour-info-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 10px;
    display: flex;
    align-items: flex-start;
}

#tour-title-block {
    align-items: center;
    justify-content: flex-end;
}

.country-flag-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-flag {
    height: 26px;
    width: 26px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.tour-country-img {
    width: 100%;
    height: 100%;
}

.tour-name {
    font-weight: 900;
    font-size: 25px;
    line-height: 1;
    text-align: center;
}

.tour-img {
    width: 100%;
    height: 100%;
}

.tour-title {
    text-align: right;
}

.tour-arrow {
    width: 18px;
    padding-top: 38px;
    padding-right: 20px;
}

.tour-left-arrow {
    float: left;
}
/*....................the end of popular tours....................*/


/*....................tour company....................*/
.tour-company-info {
    background-image: url('../../assets/img/tour-company-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 465px;
}

.tour-company-txt-block {
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    width: 900px;
    padding: 20px 0;
}

.tour-company-title {
    font-size: 45px;
}

.tour-company-text {
    font-size: 20px;
    margin-bottom: 0;
}
/*....................the end of tour company....................*/



/*....................hot tours....................*/
#hot-tours-container {
    margin: 30px 0;
}

.hot-tour-item.tour-item:before {
    background-color: transparent;
}

#hot-tour-title-block {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.hot-tour-main-title {
    margin-bottom: 10px;
}

#hot-tours-icon {
    width: 50px;
    align-self: center;
}

.tour-right-arrow {
    padding: 5px 0 0 10px;
}

.hot-tour-item {
    height: 320px;
}

.tour-item-img-block {
    height: 180px;
    overflow: hidden;
}

.hot-tour-item-img {
    width: 100%;
}

.tour-item-info-block {
    padding: 10px 10px 0;
}

.hot-tour-title {
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
}

.hot-tour-departure {
    color: #AAAAAA;
    font-size: 10px;
    margin-bottom: 10px;
}

.tour-info {
    display: flex;
    align-items: center;
    color: #6D6364;
    font-size: 10px;
    margin-bottom: 20px;
}

.time-icon {
    margin-right: 5px;
    width: 12px;
}

.hot-tour-btn {
    width: 62px;
}

.get-hot-tour-block {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #f2f2f2;
}

.hot-tour-prise {
    font-size: 25px;
    color: #ed3237 !important; /*pink-red*/
}
/*....................the end of hot tours....................*/


/*....................medical tours....................*/
#medical-tours-container {
    margin: 30px 0;
}

.medical-tour-arrow {
    padding-top: 16px;
}
/*....................the end of medical tours....................*/


/*....................our work's details....................*/
#our-work-details-container {
    margin-bottom: 30px;
}

#work-details-main-title {
    color: #6D6364;
    font-weight: 100;
    font-size: 25px;
    float: right;
    margin-bottom: 0;
}

.air-balloons-img-container {
    position: relative;
    display: inline-block;
}

.air-balloons-img-container:after {
    position: absolute;
    content: "";
    background-image: url(../../assets/img/pop-tour-map.jpg);
    background-position: center;
    background-size: contain;
    height: 190px;
    width: 190px;
    top: 300px;
    right: 0;
}

#air-balloons-img {
    position: relative;
    z-index: 10;
    width: 700px;
}

#our-work-details {
    display: flex;
    justify-content: space-between;
}

.work-details-block {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.work-details-txt-block>.work-details-title {
    color: #6D6364;
    font-size: 14px;
    font-weight: 900;
    display: inline-block;
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
}

.work-details-txt-block>.work-details-txt {
    color: #AAAAAA;
    font-size: 12px;
    display: inline-block;
    direction: rtl;
}

.work-details-block>span {
    display: inline-block;
    margin-left: 10px;
}

.work-details-icon {
    width: 75px;
}
/*....................the end of our work's details....................*/

/*....................best directions....................*/
.blocks-main-title {
    color: #ed3237 !important; /*pink-red*/
    font-size: 25px;
}

#best-directions-main-title {
    text-align: center;
}

.best-directions-block {
    display: flex;
    justify-content: space-around;
}

.centered-tour-info-block {
    align-items: center;
    justify-content: center;
}

.tour-item-without-title-block {
    height: 370px;
}

.tour-item-without-title-block:before {
    background-color: transparent;
}

.tour-item:nth-child(4n+5).tour-item-without-title-block {
    margin-right: 0;
}
/*....................the end of best directions....................*/


/*....................last news....................*/
.last-news-main-title {
    margin-top: 15px;
}

.image-utilities {
    width: 12px;
    margin-right: 5px;
}

.utilities-txt {
    margin-right: 5px;
    font-size: 10px;
}

.last-news-tour-item {
    width: 32.5%;
    height: 250px;
    border: 1px solid #f2f2f2;
    margin-bottom: 0;
}

.last-news-tour-item.tour-item:nth-child(4) {
    margin-right: 0;
}

.last-news-tour-item.tour-item:before {
    background-color: transparent;
}

.tour-description-text {
    color: #6D6364;
    font-size: 12px;
    margin-bottom: 10px;
}

.last-new-tour-info {
    display: flex;
    align-items: center;
    border-top: 1px solid #AAAAAA;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 0;
}

.publication-date-block {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 40px;
    background-color: #ed32378f; /*pink-red*/
    z-index: 20;
}

.publication-day {
    font-size: 20px;
}

.publication-date {
    font-size: 8px;
}
/*....................the end of last news....................*/


/*....................footer....................*/

footer {
    border-top: 1px solid #ed3237; /*pink-red*/
    margin-top: 20px;
}

#footer-info-main-container {
    display: flex;
    padding: 10px 0;
}

#company-info {

}

#footer-logo-block {
    width: 200px;
    margin-bottom: 10px;
}

.footer-info-block {
    margin-right: 10px;
    flex-grow: 2;
}

.footer-info-block:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
}

.footer-info {
    color: #6D6364;
    font-size: 12px;
    margin-left: 40px;
}

.footer-info-str {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.footer-info-icon {
    display: inline-block;
    width: 14px;
    float: left;
    margin-right: 10px;
}

.footer-info-icon>img {
    width: 100%;
    height: 100%;
}

.footer-section-title {
    position: relative;
    color: #ed3237; /*pink-red*/
    font-size: 12px;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
}

.footer-section-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: #ed3237; /*pink-red*/
}

.footer-info-block:last-child {
    margin-right: 0;
}

.footer-section-item,
.footer-section-all-items {
    margin-left: 0;
    line-height: 1.4;
}

.footer-section-all-items {
    display: inline-block;
    border-bottom: 1px dotted #ed3237; /*pink-red*/
}

.footer-section-all-items-link {
    color: #ed3237; /*pink-red*/
}

.footer-section-all-items-link:hover,
.footer-section-all-items-link:active {
    color: #ed3237; /*pink-red*/
}

.footer-section-item-link {
    color: #6D6364;
}

#copy-right-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#copy-right-info-block>* {
    font-size: 14px;
}

#development-info {
    display: inline-block;
}
/*....................the end of footer....................*/