/******************************************FONTS START***************************************/
@font-face {
	font-family: 'HelveticaBold';
	src: url('Helvetica/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'HelveticaRegular';
	src: url('Helvetica/OpenSans-Regular.ttf');	
}
/******************************************FONTS FINISH**************************************/

/******************************************STATICS STYLE START*******************************/
*{outline: none;}
body{font-family: Sans-Serif; color: #6D6364;margin:0px;padding:0px}
label{margin:0px;cursor:pointer}
a{outline:none;text-decoration: none;color:inherit; display: inline-block; height: inherit}
a:hover{outline:none;text-decoration:none;color:inherit;background-color: transparent}
a:focus{outline: none;text-decoration: none;color:inherit}
p{margin:0px}
ul{list-style-type:none;margin:0px;padding:0px}
.clear:after{content:"";display:block;clear:both}
.nopad{padding:0px !important;}
.nopadleft{padding-left:0px}
.nopadright{padding-right:0px}
.content{width: 1200px;position: relative;margin: 0px auto;padding: 0 15px; box-sizing: border-box}
.bor{border:1px dotted green}
button {cursor: pointer;}
section {min-height: 420px;}
textarea {resize: none;}

@media screen and (min-width: 1440px){
    .content {
        width: 1440px;
    }
}
/******************************************STATICS STYLE FINISH******************************/

/******************************************STARTING STYLE :)*********************************/
.blue-bg {
    background-color: #133C8C !important; /*blue*/
}

.btn-style {
    border: none;
    color: white;
    padding: 10px;
}

.btn-style:hover,
.btn-style:active {
    background-color: #FE5A13 !important; /*brand orange*/
}

.bordered-btn {
    border: 1px solid #133C8C; /*blue*/
    color: #133C8C; /*blue*/
    font-size: 23px;
    background-color: white;
    padding: 11px 42px 13px;
}

.orange-bordered-btn {
    border: 1px solid #FE5A13; /*brand orange*/
    color: #FE5A13; /*brand orange*/
    font-size: 23px;
    background-color: white;
    padding: 11px 42px 13px;
    box-sizing: border-box;
}

.blue-bg-btn {
    border: 1px solid #133C8C; /*blue*/
    color: white;
    font-size: 23px;
    padding: 10px;
    margin: 30px 0;
    background-color: #133C8C; /*blue*/
}

.red-txt,
.red-txt:hover,
.red-txt:active {
    color: #ed3237; /*pink-red*/
}

.block-title {
    position: relative;
    font-size: 46px;
    margin: 61px 0 57px;
    text-align: center;
    color: #FE5A13; /*brand orange*/
    width: 100%;
}

.block-title:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: -11px;
    left: 0;
    right: 0;
    background-color: #FE5A13; /*brand orange*/
    margin: 0 auto;
}

/*....................header's styles....................*/
header {
    width: 100%;
    background-color: white;
    padding-bottom: 5px;
    box-shadow: 0 0 6px -2px #707070;
}

header a:hover,
header a:active {
    color: #FE5A13; /*brand orange*/
}

#header-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    border-top: 1px solid #AAAAAA;
    padding-top: 10px;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4B4B4D;
}

.nav-item {
    padding: 10px 20px 10px 16px;
    border-right: 1px solid #AAAAAA;
}

.nav-item:last-child {
    padding-right: 0;
    border-right: none;
}

.logo-block {

}

.logo-link {
    display: flex;
    align-items: center;
}

.logo {
    padding: 20px 0 10px;
    width: 229px;
}

.nav-item-icon {
    height: 16px;
    margin-right: 20px;
}

#contact-info-block {
    display: flex;
    align-self: flex-end;
}

.phone-number-block {
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: white;
}

.phone-number-icon-block {
    display: inline-block;
    height: 16px;
    margin-right: 10px;
}

.phone-number-icon {
    height: 16px;
}

.phone-number {
    color: #FE5A13; /*brand orange*/
}

.phone-number:hover,
.phone-number:active {
    color: #4B4B4D; /*grey on hover*/
}

.media-block {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.media-link {
    padding-right: 6px;
    padding-top: 4px;
}

.media-link:last-child {
    padding-right: 0;
}

.cabinet-block {
    display: flex;
    align-items: center;
}

.cabinet-link {
    display: flex;
    align-items: center;
}

.user-icon {
    margin-right: 10px;
}
/*....................the end of header's styles....................*/


/*....................search field....................*/

#search-field-container {
    position: relative;
    background-image: url('../../assets/img/island.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 640px;
}

#tour-sercher {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    bottom: 50px;
    left: 0;
    right: 0;
}

.tour-info-link {
    height: inherit;
    display: inline-block;
    cursor: pointer;
}

.absolute-tour-info-link {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.form-inputs {
    display: flex;
    justify-content: center;
    font-style: italic;
    padding: 0;
}

.search-inputs {
    width: 180px;
    font-size: 13px;
    font-style: italic;
    padding: 18px;
    box-sizing: border-box;
    color: #B7B7B7;
    background: #DCDCDC;
    border: 1px solid white;
    margin-right: 3px;
}
.search-input-group:nth-child(odd)>.search-inputs {
    margin-right: 3px;
}

.search-input-label {
    position: absolute;
    top: 2px;
    left: 12px;
    font-size: 12px;
    color: white;
}

.search-input-group {
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
}

#_search-submit {
    border: none;
    padding: 18px;
    font-style: italic;
    padding: 18px;
    font-size: 20px;
    color: white;
    background: #FE5A13; /*brand orange*/
    box-sizing: border-box;
    height: 55px;
}

#main-title {
    font-size: 58px;
    float: right;
    align-self: center;
    margin: 80px 0;
    text-align: center;
    color: white;
}
/*....................the end of search field....................*/

/*....................popular tours....................*/
#popular-tours-container {
    margin: 28px 0;
}

#popular-tours {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tour-item {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 24%;
    height: 335px;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 19px;
}

.tour-item-with-dark-bg:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2f2f2f91;
}

.tour-item-border {
    border: 1px solid #EEEFF0;
}

.tour-title-block.tour-item:before {
    background-color: transparent;
}

.tour-info-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

#tour-title-block {
    align-items: center;
    justify-content: flex-end;
}

.country-name-block {
    background-color: #133C8C; /*blue*/;
    display: flex;
    align-items: center;
    padding: 1px 15px;
    margin-top: 35px;
}

.country-flag-container {
    display: inline-block;
    overflow: hidden;
    width: 42px;
    height: 18px;
    box-sizing: border-box;
    margin-right: 15px;
    border: 1px solid white;
}

.country-flag {
    width: 100%;
}

.tour-country-img {
    height: 100%;
    width: 100%;
}

.tour-name {
    background: #133C8C; /*blue*/;
    font-size: 23px;
    line-height: 1;
    text-align: center;
    color: white;
    width: 100%;
    padding: 8px;
}

.tour-img {
    width: 100%;
    height: 100%;
}

.tour-title {
    text-align: right;
}

.tour-arrow {
    width: 18px;
    padding-top: 38px;
    padding-right: 20px;
}

.tour-left-arrow {
    float: left;
}
/*....................the end of popular tours....................*/


/*....................tour company....................*/
.tour-company-info {
    background-image: url('../../assets/img/tour-company-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 465px;
}

.tour-company-txt-block {
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    width: 900px;
    padding: 20px 0;
}

.tour-company-title {
    font-size: 45px;
    color: white;
}

.tour-company-text {
    font-size: 20px;
    margin-bottom: 0;
    color: white;
}
/*....................the end of tour company....................*/



/*....................hot tours....................*/
#hot-tours-container {
margin-bottom: 60px;
}

.hot-tour-item.tour-item:before {
    background-color: transparent;
}

#hot-tour-title-block {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.hot-tour-main-title {
    margin-bottom: 10px;
}

#hot-tours-icon {
    width: 50px;
    align-self: center;
}

.tour-right-arrow {
    padding: 5px 0 0 10px;
}

.hot-tour-item {
    height: 440px;
}

.tour-item-short-img-block {
    height: 250px;
}

.tour-item-long-img-block {
    height: 248px;
}

.tour-item-img-block {
    height: 300px;
    overflow: hidden;
}

.tour-item-img {
    height: 100%;
}

.tour-item-info-block {
    padding: 15px 20px 0;
}

.tour-item-info-title {
    font-size: 30px;
    margin-bottom: 13px;
    margin-top: 0;
    color: #262424;
}

.tour-departure {
    color: #919191;
    font-size: 16px;
    margin-bottom: 6px;
}

.tour-info {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-bottom: 18px;
    color: #667C91;
}

.time-icon {
    margin-right: 7px;
    width: 19px;
}

.hot-tour-btn {
    width: 102px;
    font-size: 19px;
}

.get-tour-block {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #EEEFF0;
}
/*....................the end of hot tours....................*/


/*....................buy online tours....................*/

#buy-tours-online-block {
    background-image: url("../img/buy-tours-online.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 415px;
    border-right: 15px solid white;
    border-left: 15px solid white;
}

.buy-tours-online-title {
    font-size: 58px;
    text-align: center;
    margin: 0 0 50px 0;
    padding-top: 10px;
    color: white;
}

.buy-tours-online-payment-type-block {
    position: relative;
    display: flex;
    align-items: center;
    height: 107px;
    margin-bottom: 35px;
}

.buy-tours-online-payment-type-block:first-child {
    margin-right: 35px;
}

.payment-type-icon {
    position: absolute;
    top: 0;
}

.buy-tours-online-payment-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buy-tours-online-payment-type-description {
    background: #00000055;
    border: 1px solid #707070;
    border-top-left-radius: 52px;
    padding: 12px 18px;
}

.buy-tours-online-payment-typе-name {
    border: 2px solid #FE5A13; /*brand orange*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    margin-left: 135px;
    padding: 15px 25px;
    font-size: 26px;
}
/*....................the end of buy online tours....................*/


/*....................medical tours....................*/
.medical-tour-arrow {
    padding-top: 16px;
}
/*....................the end of medical tours....................*/


/*....................our work's details....................*/
#our-work-details-container {
    margin-bottom: 30px;
    margin-top: 56px;
}

#work-details-main-title {
    font-weight: 100;
    font-size: 50px;
    float: right;
    margin: 0;
    margin-bottom: 16px;
    color: #FE5A13; /*brand orange*/
    line-height: .8;
}

.our-work-img-container {
    position: relative;
    display: inline-block;
}

#our-work-img {
    position: relative;
    z-index: 10;
    width: 751px;
}

#our-work-details {
    display: flex;
    justify-content: space-between;
}

.work-details-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.work-details-block-item {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.work-details-txt-block>.work-details-title {
    font-size: 19px;
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #6B6B6B;
}

.work-details-txt-block>.work-details-txt {
    color: #C4C4C4;
    font-size: 15px;
    display: inline-block;
    direction: rtl;
}

.work-details-block-item>span {
    display: inline-block;
    margin-left: 10px;
}

.work-details-icon {
    width: 103px;
}
/*....................the end of our work's details....................*/

/*....................best directions....................*/
.blocks-main-title {
    color: #ed3237 !important; /*pink-red*/
    font-size: 25px;
}

.centered-title {
    text-align: center;
}

.best-directions-block {
    display: flex;
    justify-content: space-around;
}

.centered-tour-info-block {
    align-items: center;
    justify-content: center;
}

.best-directions-item {
    height: 480px;
}

.tour-item-without-title-block:before {
    background-color: transparent;
}

.tour-item:nth-child(4n+5).best-directions-item {
    margin-right: 0;
}
/*....................the end of best directions....................*/


/*....................last news....................*/
.last-news-main-title {
    margin-top: 15px;
}

.image-utilities {
    width: 21px;
    margin-right: 5px;
}

.utilities-block {
    display: inline-flex;
    align-items: center;
}

.utilities-txt {
    margin-right: 7px;
    margin-bottom: 5px;
    font-size: 10px;
}

.last-news-tour-item {
    width: 32.5%;
    height: 423px;
    border: 1px solid #f2f2f2;
    margin-bottom: 0;
}

.last-news-tour-item.tour-item:nth-child(4) {
    margin-right: 0;
}

.last-news-tour-item.tour-item:before {
    background-color: transparent;
}

.tour-description-block {
    margin-top: 30px;
}

#tour-name-title {
    font-size: 45px;
    color: #133C8C; /*blue*/
}

.tour-description-text {
    color: #FE5A13; /*brand orange*/
    font-size: 18px;
    margin-bottom: 15px;
}

.similar-tours-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.last-new-tour-info {
    display: inline-block;
    border-top: 1px solid #C6C6C6;
    padding-right: 44px;
    padding-top: 10px;
    margin-bottom: 0;
}

.publication-date-block {
    position: absolute;
    top: 11px;
    left: 11px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
    width: 88px;
    background-color: #FE5A13; /*brand orange*/
    z-index: 20;
    color: white;
}

.publication-day {
    font-size: 33px;
}

.publication-date {
    font-size: 12px;
}
/*....................the end of last news....................*/

/*....................search tours....................*/
.flex-container {
    display: flex;
}

.side-bar {
    width: 100px;
    margin-right: 20px;
    flex-grow: 1;
}

.side-bar-menu {
    border-radius: 4px;
    box-shadow: 0 0 6px -2px #707070;
    height: 240px;
    padding-top: 20px;
}

.navigation {
    color: #8E8E8E;
    font-size: 18px;
    margin: 20px 0;
}

.navigation>span {
    color: #485867;
}

.sidebar-menu-list {
    padding: 10px;
}

.sidebar-menu-list-item {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
}

.sidebar-menu-list-item:last-child {
    border: none;
}

.sidebar-menu-list-item-link {
    display: inline-block;
    position: relative;
    width: 100%;
    color: #aaaaaa;
}

.sidebar-menu-list-item-link:hover,
.sidebar-menu-list-item-link:active {
    color: #FE5A13; /*brand orange*/
}

#search-tours {
    flex-grow: 3;
}

.tour-item:nth-child(3n+3).search-tour-item {
    margin-right: 0;
}

.search-tour-item {
    width: 32%;
    height: 440px;
}

.price-txt {
    font-size: 16px;
}

.search-tour-prise {
    width: 100%;
    text-align: end;
}

.btn-block {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-top: 36px;
    margin-bottom: 40px;
}

.filters-block {
    margin: 5px 0;
}

.filter-label {
    color: #aaaaaa;
    font-size: 14px;
}

.filter-label:hover,
.filter-label:active {
    color: #FE5A13; /*brand orange*/
}

#filters-title {
    margin: 20px 0 10px;
    font-size: 20px;
}
/*....................the end of search tours....................*/



/*....................tours details....................*/

#tour-details-container {
    margin-top: 22px;
}

.tour-details-block {
    flex-grow: 3;
}

.slideshow {
    position: relative;
    height: 688px;
    overflow: hidden;
}

.slideshow-main-img-block {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
}

.slideshow-main-img {
    width: 100%;
    margin: 0 auto;
}

.slideshow-images-block {
    position: absolute;
    bottom: 0;
    height: 77px;
    margin-top: 6px;
    width: 100%;
    background-color: maroon;
}

.side-bar-right {
    margin-right: 0;
    margin-left: 20px;
    min-width: 377px;
}

.tour-details-side-bar-menu {
    padding: 10px;
    height: auto;
}

.tour-details-price-block {
    border: 1px solid #FE5A13; /*brand orange*/
    background-color: white;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.tour-details-price-block:nth-child(2) {
    margin: 0 0 30px 0;
}

.tour-details-price-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    width: 100%;
    color: #485867;
}

.tour-details-prise {
    float: right;
    color: #FE5A13; /*brand orange*/
    font-size: 24px;
}

.tour-details-price-currency {
    height: 12px;
    margin-left: 9px;
}

.select-value-block {
    display: inline-block;
    background: white;
    font-size: 14px;
    flex: 1;
    width: 48%;
}

.select-value-block:first-child {
    float: left;
    margin-right: 5px;
}

.select-value-block:last-child {
    float: right;
    margin-left: 5px;
}

.select-value-desc {
    color: #667C91;
    margin-bottom: 12px;
}

.select-value {
    display: flex;
    align-items: center;
    padding: 7px 8px 12px;
    border: 1px solid #B8B6B6;
    color: #707070;
}

.change-value-block {
    border: 1px solid #f2f2f2;
    color: #D4D4D4;
    height: 24px;
    width: 18px;
    flex-grow: 1;
    text-align: center;
    padding-top: 6px;
}

.change-value-block:hover {
    cursor: pointer;
}

.selected-value {
    flex-grow: 3;
    padding: 0 20px;
    text-align: center;
}

.select-tour-date-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.tour-date {
    border: 1px solid #A09C9C;
    padding: 12px;
    color: #A09C9C;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    box-sizing: border-box;
    width: 32%;
}

.tour-date:nth-child(3n+3) {
    margin-right: 0;
}

.tour-date:hover {
    border: 1px solid #6D6364;
    color: #6D6364;
}

.selected-date {
    border: 1px solid #6D6364;
    color: #6D6364;
    font-weight: 900;
    font-size: 10px;
}

.total-sum-container {
    margin-top: 33px;
}

.total-sum-title {
    text-align: center;
    font-size: 20px;
    color: #4B4B4D;
}

.total-price {
    font-size: 26px;
}

.total-price-currency {
    height: 12px;
}

.tour-details-btn-block {
    display: flex;
    justify-content: space-between;
}

.tour-details-btn {
    display: inline-block;
    padding: 5px 10px 8px;
    margin-bottom: 10px;
    margin-top: 27px;
    width: 49%;
    box-sizing: border-box;
}

.tour-details-btn:first-child {
    margin-right: 5px;
}

.tour-details-btn:last-child {
    margin-left: 5px;
}

.tour-description {
    position: relative;
    padding-bottom: 10px;
    color: #11263A;
    font-size: 20px;
    font-weight: 900;
    margin: 30px 0 27px;
}

.tour-description:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #FE5A13; /*brand orange*/
    bottom: 0;
    left: 0;
}

.tour-full-programm-block {
    height: auto;
}

.tour-full-programm-title {
    display: inline-block;
    color: #707070;
    font-weight: 900;
    font-size: 18px;
}

.tour-full-programm-day {
    color: #FE5A13; /*brand orange*/
}

.see-more-btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 23px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #aaaaaa6e;
    float: right;
    cursor: pointer;

}

.see-more-btn-icon {
    height: 10px;
    padding-left: 3px;
    font-size: 13px;
    padding-bottom: 2px;
    color: white;
}

.tour-full-programm-day-blcok {
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 33px;
}

.tour-description-txt {
    color: #667C91;
    font-size: 17px;
}

.tour-full-programm-day-title-block {
    cursor: pointer;
}

.tour-full-programm-more-desc {
    padding: 16px 50px 0 0;
    display: none;
}

.opened-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE5A13 !important; /*brand orange*/
    cursor: pointer;
}
.opened-desc > i {
    transform: rotate(-270deg);
}

.similar-tour-item {
    width: 32%;
    height: 330px;
}

.tour-item:nth-child(4n+4).similar-tour-item {
    margin-right: 0;
    width: 32%;
}

/*....................the end of tours details....................*/


/*....................tours in Kazakhstan....................*/


.select-tour-date-container {
    margin-top: 23px;
}

.select-tour-date-title {
    position: relative;
    color: #133C8C; /*blue*/
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 10px;
}

.select-tour-date-title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 2px;
    width: 89px;
    background: #888888;
}
/*....................the end of tours in Kazakhstan....................*/



/*....................login registration....................*/

#login-registration-container {
    margin: 60px 0;
}

#login-container {
    flex: 1;
}
#registration-container {
    flex: 2;
}

.login-registr-title {
    font-size: 22px;
    text-align: center;
    margin: 30px 0;
}

.login-registr-input {
    border: 1px solid #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
}

.login-registr-input::-webkit-input-placeholder {
    color: #AAAAAA;
}

.registr-form {
    display: flex;
    justify-content: center;
}

.registr-blocks {
    flex: 4;
    justify-content: flex-start;
}

.registr-block {
    margin-right: 10px;
}

.inputs-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 340px;
}

.login-block {
    margin: 0 auto;
}

.registr-btn {
    display: block;
    margin-top: 0;
}

.privacy-policy-info {
    font-size: 10px;
    color: #AAAAAA;
}

.login-btn {
    margin-bottom: 10px;
}

.forgot-pass {
    color: #AAAAAA;
    font-size: 10px;
}
/*....................the end of login registration....................*/


/*....................contacts....................*/
.contacts-main-block {
    display: flex;
}

.contacts-info-block {
    flex: 1;
}

.contacts-info-title {
    margin: 50px 0 41px 0;
    font-size: 27px;
    color: #133C8C; /*blue*/;
}

#contacts-message-form {
    display: flex;
    flex-direction: column;
    min-width: 290px;
}

.contact-message-input {
    background: #F9F9F9;
    border: 1px solid #EBEBEB;
    padding: 14px;
    margin-bottom: 15px;
}

.contact-message-btn {
    margin-top: 19px;
    align-self: flex-end;
}

.contacts-info {
    border: 1px solid #f2f2f2;
}

.contacts-info:nth-child(4){
    border: transparent;
    padding: 0px;
}

.company-details-block {
    padding: 122px 0 0 122px;
}

.contacts-type-info {
    color: #11263A;
    font-size: 19px;
    margin-bottom: 17px;
}

.contacts-info {
    width: 48%;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 20px;
    /*height: 155px;*/
    align-items: flex-start;
}

.contacts-info:nth-child(even) {
    margin-right: 0;
}

.contacts {
    margin: 30px 0 0;
}

.media-blcok {
    display: inline-block;
    padding: 6px;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 1px solid #ed3237; /*pink-red*/
}

.contacts-media-icon {
    color: #ed3237; /*pink-red*/
}

.media-blcok>a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.map-container {
    width: 100%;
    height: 373px;
    background-color: #FE5A13 !important; /*brand orange*/
    text-align: center;
    padding: 30px;
    margin: 49px 0 0;
}

.map-txt {
    width: 100%;
    height: 250px;
    color: white;
    font-size: 30px;
}
/*....................the end of contacts....................*/

/*....................services....................*/
.services-navigation {
    padding: 20px 0 10px;
    color: #AAAAAA;
    font-size: 14px;
}

.service-block {
    display: flex;
    margin-top: 20px;
}

.services-img-block {
    overflow: hidden;
    height: 535px;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
}

.services-img {
    width: 100%;
}

.service-description-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.service-description-block-left {
    margin-right: 48px;
    align-items: flex-end;
}

.service-description-block-right {
    margin-left: 84px;
}

.service-description-block-left >
.service-description-txt {
    text-align: right;
}

.service-title {
    margin: 0 0 41px 0;
    color: #133C8C; /*blue*/;
    font-size: 43px;
}

.service-description-txt {
    color: #667C91;
    font-size: 17px;
    width: 93%;
}
/*....................the end of services....................*/


/*....................single service....................*/
.chevron-right {
    font-weight: 100;
    font-size: 8px;
    right: 0;
    position: absolute;
    padding-top: 6px;
    margin-left: 10px;
}

#single-service-main-block {
    display: flex;
    margin-top: 30px;
}

.single-service-description-block {
    flex: 4;
    padding-left: 20px;
    margin-top: 36px;
}

.single-service-side-bar-menu-block {
    flex: 1;
}

.changeColor {
    color: #ed3237 !important; /*pink-red*/
}

#single-service-navigation {
    margin-top: 0;
}

.single-service-img-block {
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.single-service-img {
    width: 100%;
    margin: 0 0 20px;
}

.single-service-title {
    font-size: 25px;
    margin: 20px 0;
}

.single-service-txt {
    color: #AAAAAA;
    margin: 20px 0;
}

.single-service-form-title {
    color: #ed3237; /*pink-red*/
    font-size: 25px;
    margin: 0 0 20px;
}
/*....................the end of single service....................*/


/*....................account settings....................*/
#account-settings-main-block {
    display: flex;
    margin-top: 30px;
}

.account-settings-field {
    flex: 1;
    border-radius: 4px;
    box-shadow: 0 0 6px -2px #707070;
    margin-left: 20px;
}

.sidebar-menu-list-nopadd {
    padding: 10px 0;
}

.account-settings-menu-list-item {
    border: none;
    padding: 0 20px;
    margin: 10px 0 20px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    cursor: pointer;
}

.sidebar-menu-list-item.account-settings-menu-list-item:last-child {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.account-settings-menu-list-item:hover,
.sidebar-menu-list-item.account-settings-menu-list-item:last-child:hover {
    border-left: 2px solid #FE5A13 !important; /*brand orange*/
    border-right: 2px solid #FE5A13 !important; /*brand orange*/
    cursor: pointer;
}

.account-settings-menu-list-item:hover > a {
    color: #FE5A13 !important; /*brand orange*/
}

.active-list-item {
    border-left: 2px solid #FE5A13 !important; /*brand orange*/
    border-right: 2px solid #FE5A13 !important; /*brand orange*/
}

.active-list-item-link {
    color: #FE5A13 !important; /*brand orange*/
}

.account-settings-section {
    padding: 15px 15px 10px;
    display: none;
}

.open {
    display: block;
}

#account-settings-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.account-settings-input {
    background: #F9F9F9;
    border: 1px solid #EBEBEB;
    padding: 10px;
    margin-bottom: 24px;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
}

.account-settings-inputs {
    flex: 1;
}

.account-settings-inputs:last-child {
    margin-left: 7.5px;
}

.account-settings-inputs:first-child {
    margin-right: 7.5px;
}

.account-settings-btn {
    float: right;
    margin-bottom: 18px;
    font-size: 12px;
}

/*....................the end of account settings....................*/


/*....................footer....................*/

footer {
    border-top: 1px solid #5F7A8D;
    color: white;
    margin: 30px auto 0;
    background-color: white;
}

.footer-absolute {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

#footer-info-main-container {
    display: flex;
    padding: 10px 0;
}

#footer-logo-block {
    width: 200px;
    margin-bottom: 10px;
}

.footer-info-block {
    margin-right: 10px;
    flex-grow: 2;
}

.footer-info-block:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
}

.footer-info {
    color: #68696A;
    font-size: 15px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.footer-info-str {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.footer-info-txt {
    margin-bottom: 10px;
}

.footer-info-icon {
    display: inline-block;
    width: 16px;
    float: left;
    margin-right: 20px;
}

.footer-info-icon>img {
    width: 100%;
    height: 100%;
}

.footer-section-title {
    position: relative;
    color: #133C8C; /*blue*/
    font-size: 20px;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    padding-top: 20px;
    line-height: .9;
}

.footer-section-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: #133C8C; /*blue*/
}

.footer-info-block:last-child {
    margin-right: 0;
}

.footer-section-item,
.footer-section-all-items {
    margin-left: 0;
    line-height: 1.4;
}

.footer-section-all-items {
    display: inline-block;
    border-bottom: 1px dotted #133C8C; /*blue*/
}

.footer-section-all-items-link {
    font-size: 17px;
    color: #133C8C; /*blue*/
}

.footer-section-all-items-link:hover,
.footer-section-all-items-link:active {
    color: #133C8C; /*blue*/
}

.footer-section-item-link {
    color: #68696A;
    font-size: 17px;
}

#copy-right-block {
    background: #133C8C; /*blue*/
}

#copy-right-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#copy-right-info-block>* {
    font-size: 14px;
}

#development-info {
    display: inline-block;
}
/*....................the end of footer....................*/


